# 🤖 Your Telegram Bot Token from @BotFather
BOT_TOKEN=1234567890:ABCdefGhIJKlmNoPQRsTUVwxyZ

# 🔑 Your API ID from my.telegram.org
API_ID=1234567

# 🔐 Your API HASH from my.telegram.org
API_HASH=abcdef1234567890abcdef1234567890

# 🗄️ Your MongoDB Connection URI (From MongoDB Atlas)
MONGODB_URL=mongodb+srv://<username>:<password>@cluster0.mongodb.net/?retryWrites=true&w=majority

# 👑 Your Telegram User ID (Iske bina tu /token, /setfsub commands use nahi kar payega)
ADMIN_ID=123456789

